html {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    height: 50%;
}

body {
    height: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 30px;
}

.person,
.text,
.subscription,
.buttons {
    background-color: white;
    width: 360px;
    text-align: center;
}


.person {
    border-radius: 15px 15px 0 0;
}

.text h2 {
    color: hsl(223, 47%, 23%);
    padding-top: 10px;
    font-weight: 900;
    font-size: 20px;
}

.text p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    opacity: 80%;
    line-height: 1.5em;
}

.subscription {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    padding: 1px 0 1px 0;
}

.subscription::before {
    content:url(./images/icon-music.svg);
    float: left;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.change {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
    font-size: 13px;
    
}

.costs {
    line-height: 1px;
    padding-bottom: 10px;
    color: hsl(223, 79%, 28%);
    opacity: 80%
}

.annual {
    color: hsl(223, 79%, 28%);
    font-weight: 900;
}

.payment {
    margin-top: 30px;
    width: 80%;
    padding: 10px 0;
    color: white;
    border-style: none;
    border-radius: 8px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: -2px 12px 10px hsl(225, 100%, 94%)
}

.cancel {
    margin-top: 30px;
    padding: 10px 93px;
    color: hsl(224, 23%, 55%);
    border-style: none;
    border-radius: 8px;
    background-color: white;
    font-size: 13px;
}

input[type=button] {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

a:hover {
    color:hsl(245, 75%, 52%);
}

.payment:hover {
    background-color: hsl(245, 83%, 73%);
    cursor: pointer;
    
}

.cancel:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 500px){
    .person,
    .buttons {
        width: 340px;
        text-align: center;
    }
    .text {
        width: 250px;
        text-align: center;
        margin: auto;
    }
}